/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 15px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   ========================================================================== */

html {
    background-color: #66AA66;
    text-align: center;
}

/* currently set on htc hero screen size */
body {
    margin: 0px auto;
    min-width: 300px;
}

header {
    background: #CCCCCC;
    font-weight: bold;
    font-size: 120%;
    line-height: 40px;
}

#container {
    padding-bottom: 60px;
}

/* default showing and hiding of containers */
#container #start { display: none; }
#container #game { display: none; }
#container #input { display: none; }
#container #game_actions { display: none; }
#container #output { display: none; }

#container.new #start { display: block; }
#container.playing #game { display: block; }
#container.playing #input { display: block; }
#container.playing #game_actions { display: block; }
#container.winner #game { display: block; }
#container.winner #output { display: block; }

#start fieldset {
    background-color: rgba(0,0,0,0.8);
    margin: 20px 0px;
    padding: 8px 0px;
}
#start fieldset.error {
    padding: 6px 0px;
}
#start fieldset label {
    color: #FFFFFF;
    font-weight: bold;
    text-align: right;
    width: 25%;
    display: inline-block;
}
#start fieldset input{
    width: 50%;
    display: inline-block;
}

/* game field */

#player_names {
    color: #FFFFFF;
    line-height: 40px;
    background-color: rgba(0,0,0,0.8);
    margin: 20px 0px 10px 0px;
    text-align: center;
    padding: 0px 20px;
}

#player_names h1 {
    font-size: 80%;
    width: 45%;
    float: left;
    margin: 0px;
    height: 40px;
    overflow: hidden;
}

#player_names span {
    width: 10%;
    float: left;
}

#player_scores {
    background-color: rgba(0,0,0,0.8);
    margin: 0px 0px 20px 0px;
    color: #FFFFFF;
    line-height: 40px;
    padding: 0 20px;
}

#player_scores > span {
    display: block;
    float: left;
}

#player_scores .result {
    width: 45%;
}

#player_scores .result output {
    width: 50%;
    display: block;
    float: left;
}

#player_scores .result output {
    width: 50%;
    display: block;
    float: left;
}

#player_scores .result .current {
    background-color: #FFFF00;
    color: #000000;
    font-size: 135%;
    font-weight: 600;
}

#player_scores .result .frames {
    text-align: right;
}

#player_scores .result.p1 output {
    float: right;
}

#player_scores .result.p1 .frames {
    text-align: left;
}

#player_scores .bestOf {
    width: 10%;
}

#output {
    padding: 0px 20px;
}

#output h1 {
    margin: 0px;
}

#winner_frames {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#winner_frames li {
    margin: 10px 0px;
    background-color: rgba(0,0,0,0.8);
    line-height: 25px;
    color: #FFFFFF;
}

#winner_frames li .score {
    width: 40%;
}

#winner_frames li .winner .score {
    background-color: #FFFF00;
    color: #000000;
}

#winner_frames li .break {
    padding: 0px 5px;
}

#winner_frames span {
    float: left;
    width: 10%;
}

#winner_frames div {
    float: left;
}

#winner_frames li > div {
    width: 35%;
}

#winner_frames .p1 {
    margin-right: 10%;
}

#winner_frames .p0 div {
    float: right;
}

/* input section */

#container #input {
    margin: 0px auto;
    max-width: 500px;
}

#score_selector, #game_actions, #score_input { display: none; }
#input.actions #score_selector, #input.actions #game_actions { display: block; }
#input.input #score_input { display: block; }

#score_selector{
    margin: 0px 20px;
}
#score_selector input.p0 {
    float: left;
}
#score_selector input.p1 {
    float: right;
}

#score_input {
    margin: 0px 18px;
}

#score_input h1 {
    margin: 0px;
}

#score_input .output {
    padding: 2px;
}

#score_input .output input {
    width: 100%;
    padding: 0px;
    border: 0px none;
    height: 30px;
    text-align: center;
}

#score_input input[type="button"] {
    margin: 2px;
    background-color: #222222;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#score_input .numbers {
    width: 65%;
    float: left;
}

#score_input .numbers input {
    float: left;
}

#score_input .numberPad {
    width: 30%;
}

#score_input input.remove {
    width: 62%;
    background-color: #CC0000;
}

#score_input .actions {
    width: 35%;
}

#score_input .actions input {
    width: 100%;
    float: right;
}

#score_input #player_break {
    background-color: #009900;
}

#score_input #player_foul {
    background-color: #CC0000;
    color: #FFFFFF;
}

#game_actions {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* custom generic styles */
.error {
    border: 2px solid #FF0000;
}

input {
    margin: 0px;
    padding: 2px;
}

::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}

input[type="text"], input[type="number"] {
    border: 2px solid #FFFFFF;
}

input[type="submit"], input[type="button"] {
    height: 38px;
    border: 1px solid #222222;
    padding: 0px 20px;
}

input:focus {
    border: 2px solid #FFFF00;
}






/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
